src/*.o
src/*.so
inst/derivations/fast-topics.aux
inst/derivations/fast-topics.bbl
inst/derivations/fast-topics.blg
inst/derivations/fast-topics.log
inst/derivations/fast-topics.out
inst/derivations/fast-topics.thm
