src/*.o
src/*.so
vignettes/algorithms.aux
vignettes/algorithms.bbl
vignettes/algorithms.blg
vignettes/algorithms.log
vignettes/algorithms.out
vignettes/algorithms.pdf
vignettes/algorithms.thm
inst/derivations/fast-topics.aux
inst/derivations/fast-topics.bbl
inst/derivations/fast-topics.blg
inst/derivations/fast-topics.log
inst/derivations/fast-topics.out
inst/derivations/fast-topics.thm
