src/*.o
src/*.so
inst/derivations/algorithms/algorithms.aux
inst/derivations/algorithms/algorithms.bbl
inst/derivations/algorithms/algorithms.blg
inst/derivations/algorithms/algorithms.log
inst/derivations/algorithms/algorithms.out
inst/derivations/algorithms/algorithms.thm
inst/derivations/altsqp/altsqp.aux
inst/derivations/altsqp/altsqp.bbl
inst/derivations/altsqp/altsqp.blg
inst/derivations/altsqp/altsqp.log
inst/derivations/altsqp/altsqp.out
inst/derivations/altsqp/altsqp.thm
