language: r
cache: packages
latex: false
r_build_args: --no-build-vignettes
r_check_args: --as-cran --ignore-vignettes

r_packages:
  - covr

# This is the minimal set of R packages needed to run "R CMD check" on
# the package.
install:
  - R -e 'install.packages(c("testthat","Rcpp","RcppArmadillo","RcppParallel","NNLM","ggplot2","cowplot"))'

env:
  global:
    - _R_CHECK_FORCE_SUGGESTS_: false
    - R_REMOTES_NO_ERRORS_FROM_WARNINGS: true

after_success:
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - master
