# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: macos-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      _R_CHECK_FORCE_SUGGESTS_: false
    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          
      - name: Install dependencies
        run: |
          install.packages(c("remotes","rcmdcheck"))
          install.packages(c("devtools","remotes","quadprog","MCMCpack"))
          install.packages(c("irlba","Rtsne","uwot","dplyr","Rcpp"))
          install.packages(c("RcppArmadillo","RcppParallel","pbapply"))
          install.packages(c("progress","ggplot2","ggrepel","cowplot"))
          install.packages(c("plotly","htmlwidgets","testthat","Ternary"))
          install.packages("RhpcBLASctl")
          remotes::install_github("slowkow/ggrepel",upgrade="never",force=TRUE)
          remotes::install_github("stephens999/ashr",upgrade="never",force=TRUE)
          remotes::install_github("linxihui/NNLM",upgrade="never",force=TRUE)
        shell: Rscript {0}

      - name: Check
        run: |
          options(crayon.enabled = TRUE)
          rcmdcheck::rcmdcheck(args = c("--no-manual","--ignore-vignettes"),
                               error_on = "error",build_args = "--no-build-vignettes")
        shell: Rscript {0}


